

ul.errorlist {display:none;}

.myfield{
    width: 12%;
    max-width: 100%;}
    /*margin-bottom: 20px;}*/

.navigation{
    background-color: chartreuse;
    color: #fff;
    height: 100vh;
}
.header{
background-color:darkmagenta;
    height: 20vh;
}
.content{
background-color:dimgray;
/*min-height: 100%;*/
    height: 75vh;
}
.footer{
   background-color:chocolate;
    /*min-height: 100%;*/
    height: 10vh;
}
.cont{
    min-height: 100%;
}
.rcont{
   height: 50vh;
    background-color:dimgray;
}
.message{
    height: 5vh;
    background-color:royalblue;
}