{% load static %}
<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Добавить нового клиента</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
          <form id="myNameForm" method="post">
          {% csrf_token %}
            {{ form.as_p }}
               <button type="submit">Submit</button>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Добавить автомобиль</button>
          <button type="submit" class="btn btn-primary" id="btnn">Сохранить</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </form>
      </div>
    </div>
  </div>
</div>
{#Второе модальное окно#}
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Добавить автомобиль</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        {{ form_auto.as_p }}
      </div>
      <div class="modal-footer">

          <button type="button" class="btn btn-primary">Сохранить</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Назад</button>
      </div>
    </div>
  </div>
</div>

 <script>
    {#let btn = document.querySelector("#btnn");#}
    {#btn.onclick = function (){#}
{#$('#btnn').on('click', function() {#}
{#        $.ajax({#}
{##}
{#            type: "post",#}
{#            url: "{% url 'client-base' %}",#}
{#            data: {csrfmiddlewaretoken: '{{ csrf_token }}', form:  $('#myNameForm').serialize()},#}
{##}
{#        });#}
{#    });#}

$('#myNameForm').on('submit', function(event) {
      event.preventDefault();
      $.ajax({
        url: '{% url 'client-base' %}',
        type: 'POST',
        data: $(this).serialize(),
        {#dataType: 'json',#}
        success: function(table){
                console.log(table);
                let z = $(table).find('#table');
                $("#table").html(z);

            }
      });
});
</script>