{# tutorial/templates/tutorial/people.html #}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title></title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
    <button onclick="runFunction()">Click me</button>
    <form method="POST" >
        {% render_table table %}
{% csrf_token %}
{{ form.as_p }}
<button type="submit" >Save</button>
</form>


    </body>
</html>












{#{% load render_table from django_tables2 %}#}
{#{% load django_tables2 %}#}
{# templates/base.html #}
{#<!DOCTYPE html>#}
{#<html lang="ru">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Заголовок</title>#}
{#</head>#}
{#<body>#}
{#    {% render_table table %}#}
{##}
{#</body>#}
{#</html>#}