{% extends 'crm_client/base_top.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load common_tags %}

{% block content %}



    {%  show_table_clients ftr %}

    <div class="col  mt-2 btn-table">
        <button  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Добавить</button>
        <button class="update-button" disabled>Редактировать</button>
        <button class="delete-button" disabled>Удалить</button>
        <button class="select-button">Выделить всё</button>
        <button class="delete-select-button" disabled>Снять выделение</button>
{#        <button>Изменить</button>#}
{#        <button>Добавить авто</button>#}
    </div>

{#{% block content %}#}
{#    <div class="container-fluid">#}
{#    <div class="row-auto   table" >#}
{##}
{#        <div class="table-responsive" id="table">#}
{#                {% render_table table %}#}
{#                {% render_table table %}#}
{#                {% render_table table %}#}
{#        </div>#}
{##}
{##}
{#    </div>#}
{% modal_window_add  form form_add_auto message %}
{#    <div class="btn-group-lg" role="group" aria-label="client_base">#}
{#        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#staticBackdrop">Добавить</button>#}
{#        <button type="button" class="btn btn-warning">Редактировать</button>#}
{#        <button type="button" class="btn btn-danger">Удалить</button>#}
{##}
{#    </div>#}
{#    </div>#}
{% endblock  %}